In [14]:
import pandas as pd
from scipy.spatial.distance import euclidean
df = pd.read_csv("USA_cars_datasets.csv")


df['mileage'] = df['mileage'].replace(0.0, df.mileage.median())
df['price'] = df['price'].replace(0.0, df.price.median())



df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [15]:
features = ['mileage', 'price', 'year']
df = df[features]
df.head(15)
df.dropna(inplace=True)
# df.max()

In [16]:
perfect_car = {'mileage': 5000,  'price':3000, 'year':2020}
perfect_car = pd.DataFrame([perfect_car])

def inverse_distance_similarity(carA, carB):
    euclidean_dist = euclidean(carA, carB)
    similarity = 1 / (1 + euclidean_dist)
    return similarity

distances = []
similarities = []
for i in range(len(df)):
    distance = euclidean(df[i:i+1], perfect_car)
    distances.append(distance)
    similarities.append(inverse_distance_similarity(df[i:i+1], perfect_car))


df['distance'] = distances
df['similarity'] = similarities

sorted_df = df.sort_values(by='similarity', ascending=False)

print(sorted_df)

        mileage  price  year      distance    similarity
160      6743.0   4160  2018  2.093718e+03  4.773913e-04
1950     7339.0   5000  2018  3.077487e+03  3.248349e-04
206      7232.0     25  2020  3.719200e+03  2.688027e-04
1765      363.0   3900  2018  4.723534e+03  2.116611e-04
1365        1.0   3600  2018  5.034879e+03  1.985751e-04
...         ...    ...   ...           ...           ...
531    507985.0   2000  2003  5.029860e+05  1.988123e-06
490    902041.0    475  2012  8.970446e+05  1.114771e-06
516    982486.0  16900  2009  9.775848e+05  1.022928e-06
1827   999999.0   3200  2013  9.949990e+05  1.005025e-06
528   1017936.0   1025  2010  1.012938e+06  9.872264e-07

[2499 rows x 5 columns]